<!DOCTYPE html>
<html Lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assistant Manager</title>
{{!-- Link for css sheet will go here --}}
{{!-- Link for css sheet will go here  --}}
</head>
<body>
  <header>
    <h1>Assistant Manager</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Menu Items">Menu Items</a></li>
        <li><a href="/Employees Information">Employees Information</a></li>
        <li><a href="/Employee Schedule">Employee Schedule</a></li>
        {{!-- Inventory Management will go here if time permits  --}}
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy; 2023 Assistant Manager. All rights reserved.</p>
  </footer>
  {{!-- Any JavaScript link will go here --}}
</body>
</html>
