{{! homepage.handlebars }}

{{! Define the content for the body }}
<h2 class="center-align">Welcome to better restaurant management</h2>

<div class="parallax-container">
  <div class="parallax"><img
      src="/images/eugene-zhyvchik-vad__5nCLJ8-unsplash.jpg"
      class="response-img"
    /></div>
</div>

{{! Employee Information Section }}
<section class="home-category center-align">
  <h3>Employee Information</h3>
  <div class="divider"></div>
  <div class="card-info">
    <h5>Get detailed information about your employees and their roles.</h5>
    <a href="/employee" class="btn btn-primary">View Employees</a>
  </div>
</section>

<div class="parallax-container">
  <div class="parallax"><img
      src="/images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg"
      class="response-img"
    /></div>
</div>

{{! Menu Items Section }}
<section class="home-category center-align">
  <h3>Menu Items</h3>
  <div class="divider"></div>
  <div class="card-info">
    <h5>View current items on your menu.</h5>
    <a href="/menu" class="btn btn-primary">View Menu</a>
  </div>
</section>

<div class="parallax-container">
  <div class="parallax"><img
      src="/images/adrien-olichon-AMMRy9-RzXE-unsplash.jpg"
      class="response-img"
    /></div>
</div>