{{! homepage.handlebars }}


{{! Define the content for the body }}
<h2 class="center-align">Welcome to better restaurant management</h2>

<div class="parallax-container">
  <div class="parallax"><img
      src="/images/eugene-zhyvchik-vad__5nCLJ8-unsplash.jpg"
      class="response-img"
    /></div>
</div>

{{! Employee Information Section }}
<section id="employee-info" class="home-category center-align">
  <h3>Employee Information</h3>
  <div class="divider"></div>
  <h5>Get detailed information about your employees and their roles.</h5>
  <a href="/employee-information" class="btn btn-primary">View Employees</a>
</section>

<div class="parallax-container">
  <div class="parallax"><img
      src="/images/davide-cantelli-jpkfc5_d-DI-unsplash.jpg"
      class="response-img"
    /></div>
</div>

{{! Menu Items Section }}
<section id="menu-items" class="home-category center-align">
  <h3>Menu Items</h3>
  <div class="divider"></div>
  <h5>View current items on your menu.</h5>
  <a href="/menu-items" class="btn btn-primary">View Menu</a>
</section>

<div class="parallax-container">
  <div class="parallax"><img
      src="/images/adrien-olichon-AMMRy9-RzXE-unsplash.jpg"
      class="response-img"
    /></div>
</div>

{{! Employee Schedule Section }}
<section id="employee-schedule" class="home-category center-align">
  <h3>Employee Schedule</h3>
  <div class="divider"></div>
  <h5>Stay organized with the employee schedule and shift management.</h5>
  <a href="/employee-schedule" class="btn btn-primary">View Schedule</a>
</section>

{{! Inventory Management will go here if time permits }}