<div id="signup-page">
  <h1>Welcome to Assistant Manager</h1>
  <div class="divider"></div>
  <div class="container">
    <h2>Create Account</h2>
    <form id="signup-form" action="/login" method="POST">
      <div class="input-field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="input-field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button
        id="role-btn"
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
      >Sign Up
      </button>
    </form>
  </div>
</div>