* {
  font-family: "Josefin Sans", "Sans Serif";
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
}

.home-category {
  height: 350px;
  border-style: solid;
  border-width: 10px;
  border-color: #ff9800;
  margin: 20px;
}

.card-info {
  margin-top: 55px;
}

.brand-logo {
  margin-left: 15px;
}

#dropdown1 {
  top: -65px;
}

#employee-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
